app:
  image: $IMAGE_NAME
  volumes:
    - ../test:/app/test
  environment:
    - NODE_ENV=test
    - ACCESS_CONTROL_ALLOW_ORIGIN=*
    - DB_DRIVER=org.postgresql.Driver
    - DB_URL=jdbc:postgresql://postgres:5432/patient_portal
    - DB_HOST=postgres
    - DB_NAME=patient_portal
    - DB_SCHEMA=navigation
    - DB_PORT=5432
    - DB_USERNAME=postgres
    - DB_PASSWORD=postgres
  links:
    - postgres

postgres:
  image: $IMAGE_NAME-db1
  ports:
    - 5432